<div id="NavBar" class="navbar navbar-fixed-top">


    <div class="row">



        <div id="imgpos">

            <a href="/"><img src="https://images.cooltext.com/4955965.png" width="900" height="142" alt="Vou Estacionar" /></a>
            <br /><a>Venha fazer parte dessa evolução em Estacionamento também</a>

        </div>
        <div class="col-md-7 col-md-offset-7">
            <app-login></app-login>
        </div>

    </div>

</div>




<ul id="barraTopo">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper fixed orange darken-2">
                <!--<a href="#!" class="brand-logo">Logo</a>-->
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="leght hide-on-med-and-down">
                    <li><a href="sass.html">Home</a></li>
                    <li><a href="badges.html">Quem Somos!?</a></li>
                    <!--<li><a href="collapsible.html">Javascript</a></li>-->
                    <!--<li><a href="mobile.html">Mobile</a></li>-->
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">Javascript</a></li>
                    <li><a href="mobile.html">Mobile</a></li>
                </ul>
            </div>
        </nav>
    </div>

</ul>