<div>
</div>
<div id="NavBar" class="navbar navbar-fixed-top">


    <div class="row">



        <div id="imgpos">

            <a href="/"><img src="https://images.cooltext.com/4955965.png" width="900" height="142" alt="Vou Estacionar" /></a>
            <br /><a>Venha fazer parte dessa evolução em Estacionamento também</a>

        </div>
        <div class="col-md-7 col-md-offset-7">
            <app-login></app-login>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br> <br>
<ul id="barraTopo">
    <li><a href="">O que é?</a></li>
    <li><a href="#cadastro">Cadastro</a></li>
    <li><a href="#sobre">Sobre</a> </li>
</ul>