<div id="conteudo">
    <section id="corpo">
        <div class="classOquee">
            <a class="classLinksCorpo">O que é?</a>
            <p>Cansado de perder tempo e dinheiro, percorrendo a cidade toda em busca de uma vaga para deixar seu veículo?<br> Instale o <strong>Vou Estacionei</strong> e seus problemas estão acabados.<br> Basta apenas criar uma conta, e deixar que o nosso
                sistema procure a vaga ideal para você!
            </p>
            <!--<input type="button" value="oi" class="btnLaranja"/>-->
            <input type="submit" value="Encontre uma vaga" class="btnLaranja" />
        </div>
        <div class="cadastro">
            <div class="col-md-6">
                <a class="classLinksCorpo" name="cadastro">Comece hoje</a>
                <p>
                    Crie sua conta para usufruir de nossos benefícios. É rápido e fácil, e a partir desta conta, você poderá fácilmente tornar-se um de nossos funcionários e até mesmo um gerente de seu próprio estacionamento.
                </p>
            </div>
            <div class="col-md-6">
                <hero-form-reactive3></hero-form-reactive3>

                <!--<div class="formularioCadastro">
                    <form id="formCadastro">
                        <a class="classLinksCorpo " name="cadastro ">Cadastre-se</a>
                        <input type="text " placeholder="Email " [class]="form-control " (input)="CriarEmail=CriarInputEmail.value" required minlength="4" maxlength="24" #CriarInputEmail *ngIf="CriarEmail.length > 1">
                        <input type="text " placeholder="Nome Usuario " class="form-control " (input)="CriarNome=CriarInputNomeUsuario.value" #CriarInputNomeUsuario>
                        <input type="password " placeholder="Senha " class="form-control " (input)="CriarSenha=CriarInputSenha.value" #CriarInputSenha>
                        <input type="password " placeholder="Confirma Senha " class="form-control " (input)="CriarConfirmaSenha=CriarInputConfirmaSenha.value" #CriarInputConfirmaSenha>
                        <input type="text " placeholder="CPF " class="form-control " (input)="CriarCpf=CriarInputCpf.value" #CriarInputCpf>
                        <input type="submit " value="Criar " class="btnCriar " (click)="CriarConta()" />

                    </form>
                </div>-->
            </div>
        </div>
        <div class="classSobre ">
            <a class="classLinksCorpo " name="sobre ">Sobre</a>
            <p>
                Software desenvolvido por: Higor Chaves, Rafael Viana e Ramon Santos<br> Na matéria Análise e Projeto de Software Orientado a Objetos II<br> Durante o 5º Semestre<br> Do curso Sistemas de Informação<br> Câmpus Coxim<br> Universidade Federal
                de Mato Grosso do Sul<br> 2017
                <br>
            </p>
        </div>
    </section>
</div>