<div class="container">
    <div [hidden]="submitted">
        <h1>CADASTRE-SE</h1>
        <form [formGroup]="heroForm" *ngIf="active" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Name</label>

                <input type="text" id="name" class="form-control" formControlName="name" required>

                <div *ngIf="formErrors.name" class="alert alert-danger">
                    {{ formErrors.name }}
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>

                <input type="text" id="email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" formControlName="email" required>

                <div *ngIf="formErrors.email" class="alert alert-danger">
                    {{ formErrors.email }}
                </div>
            </div>


            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" class="form-control" formControlName="senha" required>
                <div *ngIf="formErrors.senha" class="alert alert-danger">
                    {{ formErrors.senha }}
                </div>
            </div>
            <div class="form-group">
                <label for="confirmaSenha">Confirma Senha</label>
                <input type="password" id="confirmaSenha" class="form-control" formControlName="confirmaSenha" required>
                <div *ngIf="formErrors.confirmaSenha" class="alert alert-danger">
                    {{ formErrors.confirmaSenha }}
                </div>
            </div>

            <!--<div class="form-group">
                <label for="power">ESTADO</label>
                <select id="power" class="form-control" formControlName="power" required>
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

                <div *ngIf="formErrors.power" class="alert alert-danger">
                    {{ formErrors.power }}
                </div>
            </div>-->

            <button type="submit" class="btn btn-success" [disabled]="!heroForm.valid">Submit</button>
            <button type="button" class="btn btn-success" (click)="addHero()">New Hero</button>
        </form>
    </div>

    <hero-submitted [hero]="hero" [(submitted)]="submitted"></hero-submitted>
</div>


<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->