h1,
input[type=submit] {
    color: black;
}

input[type=submit] {
    color: white;
    cursor: pointer;
    padding: 1px 20px;
}

#btnVerde,
.btnCriar {
    background: #57D07F;
    font-size: 15px;
    width: 70px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, .3), inset 0 -3px 6px 0 rgba(0, 0, 0, .2), 0 3px 2px 0 rgba(0, 0, 0, .2);
}

#btnVerde:hover {
    background: #66ff33;
}

.btnLaranja {
    background: #FFC871;
    font-size: 18px;
    color: black;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, .3), inset 0 -3px 6px 0 rgba(0, 0, 0, .2), 0 3px 2px 0 rgba(0, 0, 0, .2);
}

.btnLaranja:hover {
    background: #ff9900;
}

#barraTopo li {
    position: relative;
    padding: 15px;
}

#menuTopo a {
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
}

#conteudo {
    padding: 50px 200px;
    line-height: 180%;
    font-size: 20px;
}

.classCadastro form input {
    font-size: 18px;
    width: 50%;
    padding: 10px!important;
    margin: 5px!important;
}

.classCadastro form {
    text-align: center;
}

.classOquee {
    text-align: center;
    padding-bottom: 30px;
}

.classCadastro {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.formCadastro input {
    margin-top: 8px;
}

.classLinksCorpo {
    font-size: 23px;
    font-weight: bold;
}

.classSobre {
    display: inline-block;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

.cadastro {
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: justify;
}